<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.waqassiddiqi.mrt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:name=".App" >
        
        <activity android:name="net.waqassiddiqi.mrt.ui.LoginActivity" android:screenOrientation="portrait"
                  android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          
        <activity android:name="net.waqassiddiqi.mrt.ui.DashboardActivity"
                  android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Light">
        </activity>
        
        <activity android:name="net.waqassiddiqi.mrt.ui.LabourInfoActivity" android:screenOrientation="portrait"
                  android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Light">
        </activity>
        
        <activity android:name="net.waqassiddiqi.mrt.ui.LabourMovementActivity" android:screenOrientation="portrait"
                  android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Light">
        </activity>
        
        <activity android:name="net.waqassiddiqi.mrt.ui.LabourOffenceActivity" android:screenOrientation="portrait"
                  android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Light">
        </activity>
        
        <activity android:name="net.waqassiddiqi.mrt.ui.AddOffenceActivity" android:screenOrientation="portrait"
                  android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Dialog">
        </activity>
        
    </application>

</manifest>